body {
    background-color: #FCDCE1;
    padding:50px;
}

h3 {
    margin-bottom: 2px;
    padding-left: 30px; 
}

h4 {
    margin-top: 2px;
    padding-left: 30px

}
h10 {
    margin-bottom:50px;
}
.container{
    display:flex;
    justify-content: left;
}

.img_1{  
    display:block;  
    cursor: pointer; 
    transition: all 0.3s ease-in;
    margin-left: 50px;
    width:300px;
    padding-left: 50px;

    } 

.img_2{ 
    display:block; 
    cursor: pointer; 
    transition: all 0.3s ease-in;
    width: 300px;
    padding-left: 50px;
    padding-right: 50px;
    }  
.img_1:hover { 
    transform: scale(1); 
    }
.img_2:hover { 
    transform: scale(1); 
}
